/* header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Nunito Sans", sans-serif;
}

a:hover {
    cursor: pointer;
}

.bg {
    background-color: rgba(255, 255, 255, 0.8);
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1268px;
    padding: 0 1rem;
}

.headerInner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 1.25rem;
    a {
        font-family: "Nunito Sans", sans-serif;
        font-size: 1rem;
        text-decoration: none;
    }
    a.logo {
        font-size: 1.25rem;
        flex-grow: 1;
        font-weight: 800;
        color: #f7f7f7;
    }
}

.lamp-anim {
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    left: 0rem;
    right: 0;
    height: 80vh;
    width: 100%;
    z-index: 1;
}

.headerLeft {
    text-align: right;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    // 801px
    @media (min-width: 50.0625em) {
        display: none;
    }
}

.navigation li {
    display: block;
    margin: 0 0 1rem 0;
    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: #f7f7f7;
        @media (min-width: 50.0625em) {
            font-size: 1.125rem;
        }
    }
    @media (min-width: 50.0625em) {
        display: inline;
        margin: 0 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
}

.body {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
    overflow-x: hidden;
}

.bodyInner {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: -75px;
    padding-top: 150px;
    z-index: 3;
    background: rgb(255, 255, 255);
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 1) 100%);
}

.hero {
    position: relative;
    display: flex;
    margin-bottom: 8rem;
    h1 {
        max-width: 350px;
        color: #333333;
        span {
            font-size: 1.25rem;
            color: #757575;
            font-family: "Nunito", sans-serif;
            font-weight: 400;
        }
    }
}

.contentBlock {
    max-width: 1000px;
    margin: 0 auto 3rem;
    ul {
        list-style-type: none;
        margin-bottom: 3rem;
        li {
            font-size: 18px;
        }
    }
    p {
        margin-bottom: 1.75rem;
        max-width: 425px;
        font-size: 18px;
    }
}

h2 {
    font-size: 20px;
    margin-bottom: 2rem;
}

h3 {
    font-size: 22px;
    margin-bottom: 1rem;
}

.desktopFeatured {
    width: 100%;
    @media (min-width: 34.4375em) {
        max-width: 400px;
        margin: 0 auto;
    }
    @media (min-width: 50.0625em) {
        max-width: 800px;
    }
}

.mobileFeatured {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.zMobileFeature {
    display: block;
    max-width: 15rem;
    // margin: 2rem 0 0 auto;
}

.bgBlack {
    background-color: #000000;
    padding: 2rem 0;
    margin: 0 0 6rem 0;
    color: #e7e7e7;
}

.featuredWork {
    margin-bottom: 3rem;
}

.contentBlock.mb-0 {
    margin-bottom: 0;
}

.iconView {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
}

.viewWebsite {
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    max-width: 170px;
    align-items: center;
    font-weight: 800;
    padding: 1rem;
    border: 2px solid #000;
    color: #000;
    background-color: #ffffff;
    -webkit-transition: background-color 0.25s ease-out;
    -moz-transition: background-color 0.25s ease-out;
    -o-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
    &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        height: 2px;
    }
    &:hover,
    &:focus {
        background-color: #000000;
        color: #ffffff;
        .iconView {
            fill: #ffffff;
        }
    }
}

.viewWebsite.light {
    border: 2px solid #e7e7e7;
    color: #e7e7e7;
    background-color: #000000;
    .iconView.iconLight {
        fill: #e7e7e7;
    }
    &:hover,
    &:focus {
        background: #f7f7f7;
        color: #000000;
        .iconView.iconLight {
            fill: #000000;
        }
    }
}

body {
    padding-top: 75px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    font-family: "Nunito Sans", sans-serif;
    border: 2px solid #eeeeee;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.77);
    padding: 1rem;
    // 801px
    @media (min-width: 50.0625em) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}

// 801px
@media (min-width: 50.0625em) {
    .nav-up {
        top: -125px;
    }
}

.icon-theme {
    display: inline-block;
    width: 25px;
    height: 25px;
    fill: var(--icon-color);
}

.menuBtn {
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    color: #f7f7f7;
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        height: 2px;
        border-radius: 10px;
    }
}

.menuBtnContent {
    display: none;
    margin: 2rem 0 1rem;
    // 801px
    @media (min-width: 50.0625em) {
        display: block;
        margin: 0;
    }
    .container {
        ul {
            list-style-type: none;
        }
        // 801px
        @media (min-width: 50.0625em) {
            padding-right: 0;
        }
    }
}

.menuBtnContent.menuActive {
    display: block;
    transition: all 0.5s ease-in-out;
}

.theme-change-btn.dark-theme {
    .icon-moon {
        display: none;
    }
    .icon-sun {
        display: block;
    }
}

.theme-change-btn {
    display: none;
    .icon-moon {
        display: block;
    }
    .icon-sun {
        display: none;
    }
}

.hero-left {
    width: 10%;
}

.contentBlock {
    display: flex;
    flex-direction: column-reverse;
}

.contentBlockRight img {
    margin: 0 auto 2rem;
    display: block;
}

// 801px
@media (min-width: 50.0625em) {
    .hero-left {
        width: 20%;
    }
    .hero-right {
        width: 80%;
    }
    .contentBlock {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .single-item.contenBlockCarousel {
        display: none;
    }
    .contentBlockRight {
        display: block;
        flex: 1;
        img {
            margin: auto;
        }
    }
    .contentBlockLeft {
        flex: 1;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 28px;
    }
}

.nav-down {
    transition: all 0.5s ease-in-out;
}

.nav-up {
    transition: all 0.5s ease-in-out;
}

.selected {
    position: relative;
    display: inline-block;
    width: fit-content;
    &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        height: 5px;
        background-color: #1c1c1c;
    }
}

.zhaviaTitle {
    color: #f7f7f7;
}

.hidden {
    display: none;
}

@media (min-width: 50.0625em) {
    .accordion-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        // padding-left: 3rem;
        max-width: 1000px;
        margin: 0 auto;
    }
    .accordion-inner.inner-reverse {
        flex-direction: row;
        padding: 0;
    }
    .contentBlock.reverse {
        flex-direction: row-reverse;
        padding: 0;
    }
    .pl-md-3 {
        padding-left: 3rem;
    }
}

.positionRelative {
    position: relative;
}

.accordion-wrap img.zPortfolio {
    position: absolute;
    max-width: 8rem;
    bottom: -2rem;
    left: 1rem;
}

a {
    cursor: auto;
}

.about-text p {
    font-size: 1.25rem;
    max-width: 30rem;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.about-wrap {
    text-align: center;
    h1 {
        margin-bottom: 1.5rem;
    }
    .about-pic {
        margin-bottom: 2rem;
    }
}

.selfie {
    max-width: 19rem;
    width: 100%;
}

.lightBroImage {
    width: 80%;
}